body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  max-width: 240px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: grey;
}

#container{
  position: relative;
}

#container canvas, #react-container{
  position: absolute;
}

#react-container {
  z-index: 10;
}