
<!DOCTYPE html>
<style>
body {
  margin:0;
  padding:0;
  overflow:hidden;
}

canvas {
    display:block;
}
</style>

<body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="static/javascript/pixi/pixi.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Custom js code loaded here -->
<script src="static/javascript/js/structures.js"></script>
<script src="static/javascript/js/utils.js"></script>

<!-- Load last the actual application -->
<script src="static/javascript/js/application.js"></script>

<!-- <div id="log"> -->
</body>
